:root {
    --text: #662D91;
    --background: #FFFAFA;
    --link-background: #FFFFFF;
    --link-text: #0000FF;
    --border: 3px dotted var(--text);
}

@font-face {
    font-family: 'Dank Mono';
    src: url('./font/dank_mono.ttf') format('truetype') font-weight-normal,
         url('./font/dank_mono_italic.ttf') format('truetype') font-italic;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Dank Mono', 'Inconsolata', 'Courier', monospace;
    font-size: 15px;
    font-style: none;
    margin: 70px;
}

a {
    color: inherit;
    font-style: italic;
}

a:hover {
    background-color: var(--link-text);
    color: var(--link-background);
}

#name {
    font-size: 26px;
    margin-bottom: 10px;
    width: 100%;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.header-link > a {
    font-style: italic;
    line-height: 1.2;
    text-decoration: none;
}

.header-link {
    display: inline-block;
    margin-bottom: 10px;
}

.header-link:hover {
    background-color: var(--link-text);
    color: var(--link-background);
}
