@font-face {
    font-family: "Apercu";
    src: url("fonts/Apercu.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Apercu";
    src: url("fonts/Apercu-MediumItalic.woff");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Apercu";
    src: url("fonts/Apercu-Bold.woff");
    font-weight: 800;
}

@font-face {
    font-family: "Courier Prime";
    src: url("fonts/courier_prime.ttf");
}

html {
    padding: 70px 120px;
}

/******************* Header formatting *******************/
header {
    text-align: center;
    font-family: "Apercu";
    color: #441A22;
    margin-bottom: 70px;
}

header #middle {
    font-family: "Courier Prime";
    font-size: 20px;
}

header #left {
    text-align: left;
    padding-left: inherit -20px;
}

header #right {
    text-align: right;
    padding-right: inherit -20px;
}

header span {
    margin: 0 20px;
}

header a {
    color: #441A22;
}

header a:hover {
    color: #441A22;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2.5px;
}

header a:visited {
    color: #441A22;
    text-decoration: none;
}

header a:active {
    color: #441A22;
    text-decoration: none;
}

body {
    font-family: "Apercu";
    font-size: 15px;
    line-height: 22px;
    color: #441A22;
    background-color: #EFEFFF;
}


/******************* Biography *******************/
#pic img {
    width: 170px;
    float: right;
}

#pic {
    text-align: center;
    padding-right: 40px;
}

#bio {
    height: 170px;
    display: flex;
    align-items: center;
    padding-right: 60px;
}

#bio-row {
    margin-bottom: 80px;
}


/******************* Publications *******************/
#pubs {
    font-family: "Courier Prime";
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}

.paper-title {
    font-weight: 800;
}

.author-me {
    font-weight: 600;
    font-style: italic;
}

.paper-row {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.flex-child {
    padding: 10px 25px;
} 
