@charset "utf-8";

.wrapper-main, .wrapper-header, .wrapper-footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

/* Sticky Footer */
.wrapper {
  min-height: calc(100vh - 40px);
}

.wrapper-footer {
  height: 40px
}
/* End Sticky Footer */

